
.container {
    @apply w-full flex items-center gap-10 justify-center items-start py-10 px-5 md:px-20;

    .title {
        font-family: "Roboto Mono", monospace;
        font-weight: 700;
        @apply text-5xl text-white;
    }

    .skillsList {
        @apply flex flex-wrap gap-4 mt-5;
    }

    .skill {
        @apply flex items-center gap-2 px-4 py-2 cursor-pointer text-white rounded-full text-sm font-semibold shadow-md transition;

        svg {
            @apply text-lg;
        }

        span {
            @apply text-gray-300 text-lg;
        }

        &:hover {
            @apply bg-gray-600;
        }
    }
}
.skillsT {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}